@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #E0E8FF;
}
body .container .bg-cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
body .container .bg-cloud img {
  width: 100%;
}
body .container .card-container {
  height: 697px;
  width: 450px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
body .container .card-container .card-img {
  width: 100%;
  height: 220px;
}
body .container .card-container .card-img .svg-img {
  width: 100%;
  height: 220px;
}
body .container .card-container .card-content {
  background-color: #fff;
  text-align: center;
  font-family: "Red Hat Display";
  height: 477px;
  padding: 45px 48px 48px 48px;
}
body .container .card-container .card-content .card-txt h1 {
  color: #1f2e55;
  font-size: 28px;
  font-weight: 900;
}
body .container .card-container .card-content .card-txt p {
  padding-top: 17px;
  color: #717FA6;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
body .container .card-container .card-content .card-plan {
  background-color: #F7F9FF;
  margin-top: 20px;
  padding: 25px 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 11px;
}
body .container .card-container .card-content .card-plan .card-plan-left {
  display: inherit;
  align-items: center;
  gap: 20px;
}
body .container .card-container .card-content .card-plan .card-plan-left .card-plan-img {
  display: inherit;
}
body .container .card-container .card-content .card-plan .card-plan-left .card-plan-info {
  display: inherit;
  flex-direction: column;
  gap: 5px;
}
body .container .card-container .card-content .card-plan .card-plan-left .card-plan-info h2 {
  color: #1f2e55;
  font-size: 16px;
  font-weight: 900;
}
body .container .card-container .card-content .card-plan .card-plan-left .card-plan-info p {
  color: #717FA6;
  font-size: 16px;
  font-weight: 500;
}
body .container .card-container .card-content .card-plan .card-plan-change a {
  text-decoration: underline;
  color: #382ae1;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
body .container .card-container .card-content .card-plan .card-plan-change a:active {
  text-decoration: none;
  color: #766CF1;
}
body .container .card-container .card-content .card-btns button {
  background-color: #382AE1;
  color: #fff;
  padding: 15px 0;
  width: 100%;
  border-radius: 11px;
  box-shadow: 0px 20px 20px 0px rgba(56, 41, 224, 0.19);
  border: none;
  margin: 32px 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  font-family: "Red Hat Display";
}
body .container .card-container .card-content .card-btns button:active {
  background-color: #766CF1;
}
body .container .card-container .card-content .card-btns .cancel-order {
  color: #717FA6;
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}
body .container .card-container .card-content .card-btns .cancel-order:active {
  color: #1f2e55;
}

@media (max-width: 375px) {
  body .container .card-container {
    width: 327px;
    height: 567px;
  }
  body .container .card-container .card-img {
    width: 100%;
    height: 160px;
  }
  body .container .card-container .card-img .svg-img {
    width: 100%;
    height: 160px;
  }
  body .container .card-container .card-content {
    padding: 32px 24px;
  }
  body .container .card-container .card-content .card-txt h1 {
    font-size: 22px;
  }
  body .container .card-container .card-content .card-txt p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    padding: 16px 12px 24px;
  }
  body .container .card-container .card-content .card-plan {
    margin-top: 0;
    padding: 16px;
  }
  body .container .card-container .card-content .card-plan .card-plan-left .card-plan-info {
    gap: 3px;
  }
  body .container .card-container .card-content .card-plan .card-plan-change a {
    font-size: 13px;
  }
  body .container .card-container .card-content .card-btns button {
    margin: 24px 0;
  }
}

/*# sourceMappingURL=style.css.map */
